<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                    https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository />
  <interactiveMode />
  <offline />
  <pluginGroups />
  <servers />
  <mirrors>
    <mirror>
      <id>aliyunmaven-central</id>
      <mirrorOf>*</mirrorOf>
      <name>阿里云central</name>
      <url>https://maven.aliyun.com/repository/central</url>
    </mirror>
    <mirror>
      <id>aliyunmaven-jcenter</id>
      <mirrorOf>*</mirrorOf>
      <name>阿里云jcenter</name>
      <url>https://maven.aliyun.com/repository/jcenter</url>
    </mirror>
    <mirror>
      <id>aliyunmaven-public</id>
      <mirrorOf>*</mirrorOf>
      <name>阿里云public</name>
      <url>https://maven.aliyun.com/repository/public</url>
    </mirror>
    <mirror>
      <id>aliyunmaven-google</id>
      <mirrorOf>*</mirrorOf>
      <name>阿里云google</name>
      <url>https://maven.aliyun.com/repository/google</url>
    </mirror>
    <mirror>
      <id>aliyunmaven-gradle-plugin</id>
      <mirrorOf>*</mirrorOf>
      <name>阿里云gradle-plugin</name>
      <url>https://maven.aliyun.com/repository/gradle-plugin</url>
    </mirror>
    <mirror>
      <id>aliyunmaven-spring</id>
      <mirrorOf>*</mirrorOf>
      <name>阿里云spring</name>
      <url>https://maven.aliyun.com/repository/spring</url>
    </mirror>
    <mirror>
      <id>aliyunmaven-spring-plugin</id>
      <mirrorOf>*</mirrorOf>
      <name>阿里云spring-plugin</name>
      <url>https://maven.aliyun.com/repository/spring-plugin</url>
    </mirror>
    <mirror>
      <id>aliyunmaven-grails-core</id>
      <mirrorOf>*</mirrorOf>
      <name>阿里云grails-core</name>
      <url>https://maven.aliyun.com/repository/grails-core</url>
    </mirror>
    <mirror>
      <id>aliyunmaven-apache-snapshots</id>
      <mirrorOf>*</mirrorOf>
      <name>阿里云apache-snapshots</name>
      <url>https://maven.aliyun.com/repository/apache-snapshots</url>
    </mirror>
  </mirrors>
  <proxies />
  <profiles />
  <activeProfiles />
</settings>